body {
    background-image: url(https://img.freepik.com/fotos-gratis/parede-de-tijolo-preto-texturizado-fundo_53876-63572.jpg?auto=format&h=200);
    background-size: 100%;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.tm-social {
    width: 40px;
    height: 40px;
}